@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background: url("%D0%BA%D1%83%D1%81%D0%BE%D1%87%D0%B5%D0%BA%20%D0%BB%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C%D0%B8.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    background-color: #fafafa;
    color: #1d1f20;
    font-family: 'Raleway', sans-serif;
}
main{
    margin:0 auto;
    margin-left: 15pt;
    margin-right: 15pt;
} 
.step_card{
    display: flex;
    flex-direction: row;
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.step {
    margin: 10px;
    padding: 15px;
    max-width: 350px;
    min-height: 150px;
    background: #fafafa;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0 15px gray;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
        background: linear-gradient(135deg, #83e4e2 0%,#a2ed56 100%);
        border-radius: 1rem 1rem 0 1rem;
        content: '';
        height: 3rem;
        left: -1rem;
        overflow: hidden;
        position: absolute;
        top: -1rem;
        width: 3rem;
    }
    &::before {
        align-items: flex-end;
        box-shadow: 0 0 15px gray;
        content: counter(gradient-counter);
        color: #1d1f20;
        display: flex;
        font: 900 1.5em/1 'Montserrat';
        justify-content: flex-end;
        padding: 0.125em 0.25em;
        z-index: 1;
    }
    @for $i from 1 through 5 {
        &:nth-child(10n+#{$i}):before {
            background: linear-gradient(135deg, rgba(#a2ed56, $i * 0.2) 0%,rgba(#fddc32, $i * 0.2) 100%);
        }
    }
    @for $i from 6 through 10 {
        &:nth-child(10n+#{$i}):before {
            background: linear-gradient(135deg, rgba(#a2ed56, 1 - (($i - 5) * 0.2)) 0%,rgba(#fddc32, 1 - (($i - 5) * 0.2)) 100%);
        }
    }
}
